@using VinylShop.Web.Models.Cart
@using VinylShop.Web.Models.Product
@model ProductModel

@{
    IEnumerable<Guid> cartItemsIds = (ViewBag.Cart as CartModel).Items.Select(i => i.Product).Select(p => p.Id);
}

<div class="productPage">
    <div class="imageSection">
        <img src="/image/@Model.Id" class="recordImage" alt="Vinyl Album" />
    </div>
    <div class="textSection-open">
        <div class="product-info-top">
            <h1 class="product-title">@Model.Name</h1>
            <p class="product-author">@Model.Author</p>
            <p class="product-price">@Model.Price грн</p>
        </div>
        
        <div class="btn-group">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="product-cart-button" style="display: flex;" onclick="AddToCart('@Model.Id')">

                    @if (cartItemsIds.Contains(Model.Id))
                    {
                        <img id="product-cart-button-img-@Model.Id" asp-append-version="true" src="/images/check.png" />
                        <p id="product-cart-button-text-@Model.Id">In cart</p>
                    }
                    else
                    {
                        <img id="product-cart-button-img-@Model.Id" asp-append-version="true" src="/images/cart-icon.png" />
                        <p id="product-cart-button-text-@Model.Id">Add to cart</p>
                    }
                </div>
            }
            else
            {
                <a class="product-cart-button" style="display: flex;" href="/identity/account/login?returnUrl=%2Fproducts">
                    Sign in to add to cart
                </a>
            }
        </div>
        <div class="open-description">
            <p class="product-description">@Model.Description</p>
        </div>
        <div class="product-genre-recordlabel">
            <p class="product-genre">@Model.Genre</p>
            <p class="product-label">@Model.RecordLabel</p>
        </div>
    </div>
</div>