@using VinylShop.Web.Models.Product
@model LiteProductModel

<p>Hello</p>
<p>Name: @Model.Name</p>
<p>Author: @Model.Author</p>
@* <p>Year: @Model.Year</p> *@
<p>Genre: @Model.Genre</p>
@* <p>RecordLabel: @Model.RecordLabel</p>
<p>Description: @Model.Description</p> *@
