@using VinylShop.Web.Models.Cart
@model CartModel

@{
    ViewData["Title"] = "Cart";
}

<div class="cart-container">
    <h1 class="cart-title">Cart</h1>

    @if (Model.Items.Count == 0)
    {
        <p class="empty-cart">Your cart is empty.</p>
    }
    else
    {
        <div class="cart-items">
            @foreach (var item in Model.Items)
            {
                <div class="cart-item">
                    @if(item.CustomCover is null){
                        <img src="/image/@item.Product.Id" alt="@item.Product.Name" class="cart-product-image" />
                    }
                    else{
                        <img src="/image/custom/@item.Id" alt="@item.Product.Name" class="cart-product-image" />
                    }
                    
                    <div class="product-info">
                        <h3 class="cart-product-name">@item.Product.Name</h3>
                        <p class="cart-product-author">@item.Product.Author</p>
                        <div class="quantity">
                            <span>x @item.Quantity</span>
                        </div>
                        <p class="product-total">@item.TotalPrice грн</p>
                        <a asp-action="RemoveFromCart" asp-route-productId="@item.Product.Id" class="remove-item">
                            <img src="/images/remove-icon.png" alt="Remove" class="remove-icon" />
                        </a>
                        <a class="sent-cover-button" asp-action="ClearCustomCover" asp-route-cartItemId="@item.Id">Remove custom cover</a>

                        <form method="post" enctype="multipart/form-data" asp-action="AddCustomCover">
                            <input class="custom-cover" hidden name="cartItemId" value="@item.Id" />
                            <input class ="custom-file-input" name="file" type="file" />
                            <button class="sent-cover-button" type="submit">send</button>
                        </form>
                    </div>

                    
                </div>
            }
        </div>

        <div class="cart-summary">
            <h2>Total</h2>
            <p class="total-price">@Model.TotalPrice грн</p>
            <a asp-action="CreateOrder" asp-controller="Orders" class="createOrder-button">Place an Order</a>
        </div>
    }
</div>